body {
	font-family: 'Roboto', sans-serif;
}
html {
	scroll-behavior: smooth;
}
.container {
	// width: 540px;
	margin: 0 auto;
}

//nav
.navbar-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav {
	width: 100%;
	height: 50px;
	position: fixed;
	background-color: #4e4e4e;
	z-index: 2;
}
.navbar {
	margin-top: 10px;
}

.nav-logo {
	font-size: 18px;
	color: white;
}

.nav-items-list {
	display: none;
}

.header-img {
	background-image: url('/img/mountain-g2ac704a1d_1920.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.header-text {
	color: white;
	position: absolute;
	top: 178px;
	padding-left: 14px;
	line-height: 40px;
	z-index: 1;
	p {
		padding: 18px 0;
	}
}
.header-button {
	width: 164px;
	height: 41.39px;
	background-color: rgba(0, 0, 0, 0);
	border: 3px solid white;
	text-align: center;
	color: white;
}

.header-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.15);
}

// main

.specialists-header {
	font-size: 36px;
	text-align: center;
	margin-top: 35px;
}
.specialists {
	.specialist-img {
		width: 200px;
		height: 200px;
		background-color: #333;
		border-radius: 50%;
		margin: 0 auto;
		margin-top: 35px;
		margin-bottom: 35px;
		img {
			width: 200px;
			height: 200px;
			border-radius: 50%;
		}
	}
	.first-worker {
		background-image: url('/img/pexels-anna-shvets-3727464.jpg');
		background-size: cover;
	}
	.second-worker {
		background-image: url('/img/pexels-emmy-e-2381069.jpg');
		background-size: cover;
	}
	.specialist-text {
		text-align: left;
		margin-left: 10px;
		margin-right: 10px;

		.specialist-name {
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 35px;
		}
	}
}

.service {
	background-color: #405d78;
	.service-header {
		color: white;
		text-align: center;
		font-size: 26px;
		padding-top: 76px;
		padding-bottom: 41px;
	}
}
.service-container {
	display: flex;
	flex-direction: column;
}
.service-box {
	width: 338.88px;
	height: 331.66px;
	background-color: white;
	align-items: center;
	margin: 35px auto;
	position: relative;
	p {
		font-size: 26px;
	}
}
.service-box-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	p {
		font-size: 18px;
	}
}

.service-box-circle {
	width: 37.65px;
	height: 37.65px;
	position: absolute;
	background-color: #e07a64;
	border-radius: 50%;
	top: -5%;
	left: -5%;
}

// footer
footer {
	height: 147px;
	background-color: #4e4e4e;
	color: white;
}
.footer-text {
	padding-top: 38px;
	text-align: center;
}
.icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 31px;
	padding-bottom: 27px;
	padding-top: 15px;
	a {
		color: white;
		text-decoration: none;
	}
	.fa-instagram {
		margin-right: 18px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 720px;
	}
	.header-text {
		top: 350px;
	}
}

@media (min-width: 1024px) {
	.container {
		width: 960px;
	}
	//header and nav
	.header-text {
		margin-left: 94px;
		top: 178px;

		h1 {
			font-size: 36px;
		}
		.header-text-h1 {
			padding: 0;
			width: 577px;
			height: 46.11px;
			margin-bottom: 62.19px;
		}
		p {
			margin-bottom: 56.62px;
		}
		button {
			cursor: pointer;
			transition: color 1s, background-color 1s;
		}
		button:hover {
			background-color: white;
			color: black;
		}
	}
	.nav-items-list {
		display: flex;
		padding-right: 44px;
		li {
			list-style-type: none;
			display: inline-block;
			padding: 0 46px;
		}
		.nav-disabled-link {
			cursor: not-allowed;
		}
	}
	.nav-items {
		a {
			color: white;
			text-decoration: none;
			font-size: 18px;
		}
	}
	.nav-logo {
		margin-left: 94px;
	}
	// main
	.specialists-header {
		margin-left: 94px;
		text-align: left;
		h2 {
			text-align: left;
			font-size: 36px;
		}
	}
	.specialists {
		margin-left: 94px;
	}

	.specialist-first {
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
		.specialist-text {
			margin-left: 60px;
		}
	}
	.specialist-second {
		display: flex;
		flex-direction: row-reverse;
		justify-content: right;
		align-items: center;

		.specialist-text {
			text-align: right;
			margin-right: 40px;
		}
	}

	.specialist-text {
		width: 600px;
		height: 104px;
		margin-left: 60px;
	}

	.first-worker {
		text-align: left;
	}
	.service-header {
		font-weight: bold;
		margin-left: 94px;
		p {
			text-align: left;
			font-size: 36px;
		}
	}

	.service-container {
		width: 720px;
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(3, 1fr);
		gap: 63px;
		align-items: center;
		text-align: center;
		margin: 0 auto;
		padding-bottom: 64px;
	}
	.service-box {
		transition: transform .5s;
		width: 198px;
		height: 193.78px;
		margin: 0;
		padding: 0;
	}
	.service-box:hover {
		transform: scale(1.05);
		cursor: pointer;
	}
	//footer
	footer {
		height: 71px;
		font-size: 18px;
		.footer-container {

			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.footer-text {
			width: 394px;
			height: 21px;
			padding: 0;
			margin-top: 24px;
			margin-left: 94px;
		}
		.icons {
			margin-top: 24px;
			margin-right: 82px;
			padding: 0;
		}
	}
}
